<body style="text-align: center; background;background: url(../images/ghost.jpg) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;font-family: Baskerville;font-style: italic; color:#adad85; font-weight: bold;font-size:21px;">
<h1 style="font-family: Baskerville;font-style: italic;font-weight:bold; color:red;">{{ghost.name}}</h1>
<img src="{{ghost.imgURL}}" alt="{{ghost.name}}" style="height: 300px;width: auto;">
<p style="color:#adad85; font-weight: bold;font-size:18px;">History: {{ghost.description}}</p>
<p style="color:#adad85; font-weight: bold;font-size:18px;">Were users attacked by the {{ghost.name}}: {{ghost.isDangerous}}</p>
<p style="color:#adad85; font-weight: bold;font-size:18px;">This phenomenon was first spotted by user: {{ghost.createdByUser.username}}</p>
<p style="color:#adad85; font-weight: bold;font-size:18px;">Following users had encounters with this ghost: {{ghost.spottedByUser}}</p>
<div class="overview-btn">
  <button type="button"></button>

<form action="/phenomenas/updateGhost/{{ghost._id}}" method="post">
  <button type="submit"class="btn btn-dark btn-primary btn-lg" style="background-color:brown;color: black;" > Please click if you have met {{ghost.name}} already!</button>
</form> 
</body>
<!--
<img src="{{ghost.imgURL}}" alt="{{ghost.name}}" id="overview-img">
<p>History: {{ghost.description}}</p>
<p>Were users attacked by the {{ghost.name}}: {{ghost.isDangerous}}</p>
<p>This phenomenon first appeared to user: {{ghost.createdByUser.username}}</p>
<p>This phenomenon following users had an encounter with this ghost: {{ghost.spottedByUser}}</p>
<p>{{ghost.spottedAtPlace}}</p>