<h1>{{place.name}}</h1>
    <img src="{{place.imgURL}}" alt="{{place.name}}" id="overview-img">
    <p>{{place.description}}</p>
    <p>This place was first visited by by user: {{place.createdByUser}}</p>
    <p>Following users have visited this place: {{place.visitedByUser}}</p>
    