<h1>{{place.name}}</h1>
    <img src="{{place.imgURL}}" alt="{{place.name}}" id="overview-img">
    <p>History: {{place.description}}</p>
    <p>This place was first visited by by user: {{place.createdByUser.username}}</p>
    <p>Following users have visited this place: {{place.visitedByUser}}</p>

<form action="/places/updatePlace/{{place._id}}" method="post">
<button type="submit"> Please click if you have been to {{place.name}}!</button>
</form>
