<h1 style="text-align:center;margin-top:20px;">Get in touch with other special people!</h1>
<div class="overview">
    {{#each users}} 
    <div class="container" style="text-align:center;margin-top:20px;">
    <a href='/users/{{this._id}}' style="color:#adad85; font-weight: bold;font-size:24px;">{{this.username}}</a>
       <img src="{{this.imgURL}}" alt="{{this.username}}" id="overview-img">
      <p>{{this.description}}</p>
      <p>{{this.username}} has been to the following places: {{this.placesVisited}}</p>
      <p>{{this.username}} has met the following ghosts: {{this.ghostsSeen}}</p>
    </div>
    {{/each}}
  </div>

